{% extends '../../header.html' %}
{% block content %}
<main>
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{title}}</h1>
        </div>
        <div class="container-fluid">
            <form id="brandForm" class="row g-3" action="" method="post">
                {% csrf_token %}
                <div class="col-12">
                    <div class="form-group">
                        <label for="categoryName">Enter Brand Name</label>
                        {% comment %} <input type="text" name="categoryName" id="categoryName" class="form-control" placeholder="Enter Category Name" autofocus> {% endcomment %}
                        {{form.brandName}}
                    </div>
                    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    $(document).ready(function(){
        $('#brandForm').validate({
            rules:{
                brandName:'required'
            },
            messages:{
                brandName:"Please Enter Brand Name"
            }
        });
    });
</script>

{% endblock %}