{% extends '../../header.html' %}
{% block content %}
<main>
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{title}}</h1>
        </div>
        <div class="container-fluid">
            <form id="brandForm" class="row g-3" action="" method="post">
                {% csrf_token %}
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="categoryName">Enter Suplier Name</label>
                        {% comment %} <input type="text" name="categoryName" id="categoryName" class="form-control" placeholder="Enter Category Name" autofocus> {% endcomment %}
                        {{form.suplierName}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="categoryName">Enter Suplier Contact</label>
                        {% comment %} <input type="text" name="categoryName" id="categoryName" class="form-control" placeholder="Enter Category Name" autofocus> {% endcomment %}
                        {{form.suplierContact}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="categoryName">Enter Suplier Address</label>
                        {% comment %} <input type="text" name="categoryName" id="categoryName" class="form-control" placeholder="Enter Category Name" autofocus> {% endcomment %}
                        {{form.suplierAddress}}
                    </div>
                </div>
                <div class="col-12">
                     <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
 
                    
<script>
    $(document).ready(function(){
        $('#brandForm').validate({
            rules:{
                suplierName:'required',
                suplierContact:{
                    required:true,
                    maxlength:10,
                    minlength:10
                },
                suplierAddress:'required'
            },
            messages:{
                suplierName:"Please Enter Suplier Name",
                suplierContact:{
                    required:"Please Enter Suplier Contact",
                    maxlength:"Contact Numebr Should not be Greater than 10 Digit",
                    minlength:"Contact Numebr Should not be Less than 10 Digit"
                },
                suplierAddress:"Please Enter Suplier Address"
            }
        });
    });
</script>

{% endblock %}